<!--page title start-->
<section class="page-title portfolio-background-title text-center vertical-align height-600">
    <div class="container-mid">
        <div class="container">
            <div class="page-box light-box">
                <h2 class="text-uppercase ls-20">About Me!</h2>
                <h3 class="">Isn't it always?</h3>
            </div>
        </div>
    </div>
</section>
<!--page title end-->

<!--body content start-->
<section class="body-content about-content">
    <div class="page-content">
        <div class="container">
            <div class="post-list-aside left-side post-hand">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="post-desk">
                                <div class="m-bot-30">
                                    <span class="post-sub-title text-uppercase">who am i</span>
                                    <h4 class="text-uppercase">
                                        I am a fullstack javascript web developer who is available for contract or any size freelance job.
                                    </h4>
                                </div>

                                <p>
                                    I have been developing software since 1996. Up until the last few years I was engaged in fulltime C++ development of equities
                                    trading applications. Since then I have mostly developed and managed web sites for clients.
                                </p>

                                <ul class="m-bot-30 circle-list inline-block">
                                    <li>
                                        I like coffee.
                                    </li>
                                    <li>
                                        My fingernails are neat and trimmed.
                                    </li>
                                    <li>
                                        I have a normal amount of arm hair.
                                    </li>

                                </ul>

                                <div>
                                    <a href="$" class="btn btn-small btn-rounded btn-dark-solid  "> Read More </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <hr/>
            <div class="post-parallax">
                <div class="relative page-content">
                    <div class="dark-overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="v-middle">
                                    <h3 class="light-txt text-uppercase">Skills and Experience</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="light-txt space">
                                    <h4 class="text-uppercase light-txt">
                                        skillset
                                    </h4>

                                    <p class="light-txt">
                                        blah blah blah
                                    </p>

                                    <div class="p-top-30">

                                        <!-- progress bar start -->
                                        <div class="progress massive-progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                                HTML / CSS / JAVASCRIPT / JQUERY
                                                <span>80%</span>
                                            </div>
                                        </div>
                                        <!-- progress bar end -->

                                        <!-- progress bar start -->
                                        <div class="progress massive-progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                                PHOTOSHOP
                                                <span>50%</span>
                                            </div>
                                        </div>
                                        <!-- progress bar end -->

                                        <!-- progress bar start -->
                                        <div class="progress massive-progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                                WEBSITE MANAGEMENT / HOSTING
                                                <span>75% </span>
                                            </div>
                                        </div>
                                        <!-- progress bar end -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--body content end-->
