<!--page title start-->
<section class="page-title page-portfolio">
    <div class="container">
        <h4 class="text-uppercase">Portfolio</h4>
        <span>Web Sites and Photography</span>
        <ol class="breadcrumb">
            <li>
                <a href="/home">Home</a>
            </li>
            <li class="active">Portfolio</li>
        </ol>
    </div>
</section>
<!--page title end-->

<!--body content start-->
<section class="body-content page-content">

    <div class="portfolio portfolio-with-title col-6 gutter ">

        <div class="portfolio-item">
            <div class="thumb">
                <img src="./public/dist/img/Badlands-thumb.jpg" alt="">
                <div class="portfolio-hover">
                    <div class="action-btn">
                        <a href="./public/dist/img/Badlands.jpg" class="popup-link" title="lightbox view">
                            <i class="icon-basic_magnifier"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-title">
                <h4>
                    <a href="./public/dist/img/Badlands.jpg" class="popup-link" title="lightbox view">Nite landscape in the Badlands of South Dakota</a>
                </h4>

            </div>
        </div>



        <div class="portfolio-item">
            <div class="thumb">
                <img src="./public/dist/img/goats-custer-thumb.jpg" alt="">
                <div class="portfolio-hover">
                    <div class="action-btn">
                        <a href="./public/dist/img/goats-custer.jpg" class="popup-link" title="lightbox view">
                            <i class="icon-basic_magnifier"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-title">
                <h4>
                    <a href="./public/dist/img/goats-custer.jpg" class="popup-link" title="lightbox view">Mtn goats in Custer State park, SD</a>
                </h4>

            </div>
        </div>
        <div class="portfolio-item">
            <div class="thumb">
                <img src="./public/dist/img/GoldFinch-thumb.jpg" alt="">
                <div class="portfolio-hover">
                    <div class="action-btn">
                        <a href="./public/dist/img/GoldFinch.jpg" class="popup-link" title="lightbox view">
                            <i class="icon-basic_magnifier"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-title">
                <h4>
                    <a href="./public/dist/img/GoldFinch.jpg" class="popup-link" title="lightbox view">Goldfinch in my back yard</a>
                </h4>

            </div>
        </div>
        <div class="portfolio-item">
            <div class="thumb">
                <img src="./public/dist/img/man-solomons-thumb.jpg" alt="">
                <div class="portfolio-hover">
                    <div class="action-btn">
                        <a href="./public/dist/img/man-solomons.jpg" class="popup-link" title="lightbox view">
                            <i class="icon-basic_magnifier"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-title">
                <h4>
                    <a href="./public/dist/img/man-solomons.jpg" class="popup-link" title="lightbox view">From a diving trip to the solomons</a>
                </h4>

            </div>
        </div>
        <div class="portfolio-item">
            <div class="thumb">
                <img src="./public/dist/img/NGC6888-thumb.jpg" alt="">
                <div class="portfolio-hover">
                    <div class="action-btn">
                        <a href="./public/dist/img/NGC6888.jpg" class="popup-link" title="lightbox view">
                            <i class="icon-basic_magnifier"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-title">
                <h4>
                    <a href="./public/dist/img/NGC6888.jpg" class="popup-link" title="lightbox view">Astrophotography</a>
                </h4>

            </div>
        </div>
        <div class="portfolio-item">
            <div class="thumb">
                <img src="./public/dist/img/ziggy-thumb.jpg" alt="">
                <div class="portfolio-hover">
                    <div class="action-btn">
                        <a href="./public/dist/img/ziggy.jpg" class="popup-link" title="lightbox view">
                            <i class="icon-basic_magnifier"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-title">
                <h4>
                    <a href="./public/dist/img/ziggy.jpg" class="popup-link" title="lightbox view">Good ole Ziggy</a>
                </h4>

            </div>
        </div>

    </div>

</section>
<!--body content end-->
