.banner-state {
    background-image: url("../img/tcf-monet.jpg");
}

.page-title.background-title {
    background-image: url("../img/tcf-monet.jpg");
}


/* Overrides for btn-default */
.btn-paginate,
.btn-paginate:active,
.btn-paginate.active{
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  border-radius: 0 3px;
  margin: 0;
  transition: all .3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: initial;
  transition-delay: initial;
}
.btn-paginate:hover,
.btn-paginate.hover,
.btn-paginate:focus,
.btn-paginate.focus{
  color: #333;
  background-color: #f8f8f8;
  border-color: #ddd;
  outline: 0;
  outline-offset: 0;
}
