<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Admin</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/admin/public/css/admin.css" type="text/css">
</head>

<body>
    <ul class="nav .navbar-inverse nav-pills menuActivator">
        <li role="presentation" class="active">
            <a href="/">Login</a>
        </li>
        <li role="presentation">
            <a href="/">Edit Posts</a>
        </li>
    </ul>

    {{{body}}}

    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/admin/public/js/admin.js"></script>
</body>

</html>
